/* ===== Estilos globales ======= */
@import "@fontsource/montserrat";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; /* Desplazamiento suave al hacer clic en enlaces */
}

/* ===== Tipografía Global ===== */
body {
  font-family: "Montserrat", sans-serif !important;
  background-color: white !important;
  color: var(--text-color) !important;
  line-height: 1.6;
}

/* ===== Variables CSS ===== */
:root {
  --primary-color: #253a69; /* Azul */
  --secondary-color: #ffcc00; /* Amarillo */
  --hover: #DEA93F; /* Amarillo para efecto hover */
  --text-color: #333;
  --bg-light: #f8f9fa;
  --transition-speed: 0.3s;
}

/* ===== espacio, centrado e ícono de titulo de la tabla para crud===== */
.crud {
  text-align: center;
  padding-top: 110px; /* Mueve el título un poco más abajo */
}



/* ===== ===== */

