/* ===== Estilos globales ======= */
@import "@fontsource/montserrat";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; /* Desplazamiento suave al hacer clic en enlaces */
}

/* ===== Tipografía Global ===== */
body {
  font-family: "Montserrat", sans-serif !important;
  background-color: white !important;
  color: var(--text-color) !important;
  line-height: 1.6;
}

/* ===== Variables CSS ===== */
:root {
  --primary-color: #253a69; /* Azul */
  --secondary-color: #ffcc00; /* Amarillo */
  --hover: #DEA93F; /* Amarillo para efecto hover */
  --text-color: #333;
  --bg-light: #f8f9fa;
  --transition-speed: 0.3s;
}

/* ===== espacio, centrado e ícono de titulo de la tabla para crud===== */
.App {
  text-align: center;
  padding-top: 120px; /* Mueve el título un poco más abajo */
}


.App h2 {
  color: #5b5b5b; /* Color del texto */
  margin: 6; /* Elimina el margen por defecto del h2 */
  text-align: left; /* Alinea el texto a la izquierda */
  font-size: 1.5rem; /* Tamaño de fuente ajustado */
  margin-left: 220px;
}

.icono-titulo {
  font-size: 1.2rem; /* Ajusta el tamaño del ícono */
  color: #545252; /* Cambia el color del ícono si es necesario */
  margin-right: 6px; /* Espacio entre el ícono y el texto */
}

/* ===== ===== */