/* Asegura que el body y html no tengan margen ni padding */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Contenedor principal de Caja de Seguridad */
#caseguridadja- {
  padding: 0;  /* Elimina cualquier padding */
  margin: 0;   /* Elimina cualquier margen */
  background-color: #eef2f7;
  height: auto; /* Ajusta la altura automáticamente */
}

/* Asegúrate de que no haya margen en el contenedor */
.caja-seguridad-container {
  padding: 0;
  margin: 0;
  height: 100%;  /* Asegura que ocupe toda la altura disponible */
}



.caja-seguridad-title {
  margin-top: -45px;
  font-size: 28px;
  margin-bottom: 60px;
}

.caja-seguridad-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0;
  gap: 10px;  /* Ajusta el espacio entre los elementos si es necesario */
}

.caja-seguridad-card {
  width: 250px;
  background: #ffffff;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.caja-seguridad-card:hover {
  transform: translateY(-5px);
}

.caja-seguridad-image {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.caja-seguridad-description {
  font-size: 14px;
  color: #6c757d;
}
