/* ===== EVENT LIST STYLES ===== */
.eventlist {
  text-align: center;
  padding: 80px 20px;
  background-color: #ffffff; /* Fondo blanco */
}

.eventgrid {
  display: flex;
  flex-direction: row; /* Las cajas se muestran en fila */
  justify-content: center; /* Centra las cajas horizontalmente */
  gap: 20px; /* Espacio entre las cajas */
  overflow-x: hidden;
  position: relative;
  padding-bottom: 20px;
}

.eventgrid.two-events {
  flex-direction: row; /* Se mantiene en fila incluso si hay solo dos eventos */
  justify-content: center;
}

/* Estilos para las cajas */
.eventcard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 30%; /* Ancho de cada caja */
  min-width: 250px; /* Ancho mínimo para evitar que se hagan demasiado pequeñas */
}

.eventcard:hover {
  transform: translateY(-30px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.eventimage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.eventtitle {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #333;
}

.eventlist-title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 60px;
}

.eventdescription {
  text-align: center;
  padding: 0 1rem 1rem;
  color: #666;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .eventgrid {
    flex-direction: column; /* Las cajas se apilan en columna en pantallas pequeñas */
    align-items: center;
  }

  .eventcard {
    width: 80%; /* Ancho mayor para pantallas pequeñas */
  }
}