.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.carousel-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7); /* Oscurece la imagen para mejorar la legibilidad del texto */
  transition: transform 10s ease-in-out; /* Efecto de zoom suave */
}

.carousel-item.active .carousel-image {
  transform: scale(1.1); /* Zoom suave en la imagen activa */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Overlay más oscuro para mejor contraste */
  z-index: 1; /* Asegura que el overlay esté sobre las imágenes */
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2; /* Asegura que el texto esté sobre el overlay */
  text-align: center;
  width: 90%; /* Asegura que el contenido no se salga de la pantalla en móviles */
  padding: 0 20px; /* Espaciado lateral para móviles */
}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Sombra para mejor legibilidad */
  animation: popIn 1.5s ease-in-out; /* Animación solo al cargar la página */
}

.hero-subtitle {
  font-size: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Sombra para mejor legibilidad */
  animation: fadeIn 2s ease-in-out; /* Animación solo al cargar la página */
}

/* Animaciones */
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries para Responsividad */
@media (max-width: 1200px) {
  .hero-title {
    font-size: 3.5rem; /* Tamaño de fuente más pequeño para pantallas grandes pero no desktops */
  }

  .hero-subtitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 992px) {
  .hero-title {
    font-size: 3rem; /* Tamaño de fuente para tablets */
  }

  .hero-subtitle {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem; /* Tamaño de fuente para tablets pequeñas */
    margin-bottom: 0.5rem;
  }

  .hero-subtitle {
    font-size: 1.4rem;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 2rem; /* Tamaño de fuente para móviles */
    margin-bottom: 0.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .hero-title {
    font-size: 1.8rem; /* Tamaño de fuente para móviles muy pequeños */
  }

  .hero-subtitle {
    font-size: 1rem;
  }
}